@mixin flex($justify, $align, $direction, $wrap, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin grid($columns, $justify, $align, $colgap, $rowgap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  justify-content: $justify;
  align-items: $align;
  column-gap: $colgap;
  row-gap: $rowgap;
}

@mixin font($size, $weight, $family, $line) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  line-height: $line;
}
