$fontSatoshi: "Satoshi", sans-serif;
$fontClash: "Clash Display", sans-serif;
$mainColor: #2a254b;
$secondaryColor: #726e8d;
$buttonBackground: rgba(249, 249, 249, 0.15);
$lightWhite: #f9f9f9;
$inputBackground: rgba(255, 255, 255, 0.15);
