@use "../abstracts/" as *;
.product {
  padding: 50px 80px;
  height: auto;
  background-color: #f9f9f9;
  @include flex(center, center, row, nowrap, 4rem);

  @include brekpoints-down(medium) {
    @include flex(center, center, column, nowrap, 2rem);
    padding: 1rem;
  }

  @include brekpoints-down(small) {
    @include flex(center, center, column, nowrap, 4rem);
    padding: 1rem;
  }

  &__img {
    width: 607px;
    height: 661px;
    flex-shrink: 0;

    @include brekpoints-down(medium) {
      width: 100%;
      height: 800px;
    }
    @include brekpoints-down(small) {
      width: 100%;
      height: 380px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    height: 100%;
    @include flex(space-around, start, column, nowrap, 4rem);

    &Head {
      @include flex(center, start, column, nowrap, 1rem);
    }

    &Desc {
      @include flex(center, start, column, nowrap, 1rem);
    }
  }

  &__title {
    @include font(36px, 400, $fontClash, normal);
  }

  &__price {
    @include font(24px, 400, $fontSatoshi, normal);
  }

  &__desc {
    @include font(16px, 400, $fontSatoshi, normal);
    width: 100%;

    @include brekpoints-up(xlarge) {
      width: 500px;
    }

    @include brekpoints-down(small) {
      width: 100%;
    }

    @include brekpoints-down(medium) {
      width: 100%;
    }
    &Head {
      @include font(16px, 400, $fontClash, normal);
    }
  }

  &__dimensions {
    @include flex(center, start, column, nowrap, 1rem);

    &Box {
      &es {
        @include flex(center, center, row, nowrap, 3rem);

        @include brekpoints-down(small) {
          @include flex(center, center, row, nowrap, 1rem);
        }
        @include brekpoints-down(medium) {
          @include flex(center, center, row, nowrap, 1rem);
        }
      }
    }

    &Hr {
      width: 1px;
      height: 44px;
      background: #ebe8f4;
    }

    &Title {
      @include font(14px, 400, $fontClash, normal);
    }

    &Size {
      @include font(16px, 400, $fontSatoshi, normal);
    }
  }

  &__quantity {
    @include flex(center, start, column, nowrap, 1rem);

    // &Input {
    // }
    &Form {
      @include flex(center, start, row, nowrap, 1rem);
      position: relative;
    }

    &Input {
      display: flex;
      width: 122px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      @include font(16px, 400, $fontSatoshi, normal);
    }

    &Icon {
      position: absolute;
      font-size: 1rem;
      color: #ebe8f4;

      &:first-child {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
